@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body{
    font-family: "Inter", sans-serif;
}

.btnBg{
    background-color: #FF693B;
    color: #FFFFFF
}
.textWhite{
    color: #FFFFFF
}

ul .active{
    color:#FF693B;
    font-weight: 700;
}